<table style="width:100%">
 <%= for {key, value} <- @my_vars do %>
    <tr>
    <th><%= key %></th>
    <th><%= value %></th>
    <th>
      <%= if is_nil(value) do %>
        &#10004;
      <% else %>
        &#x274C;
      <% end %>
    </th>
    </tr>
  <% end %>
</table> 